*{
	margin: 0;
	padding: 0;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	float: left;
	justify-content: space-between;
	/* width: 80%; */
    width: 80%;
	height: 350px;
	padding: 10px 10%;
	background: rgb(255, 255, 255, 0.3);
}
body {
	width: 5.225rem;
	height: 7.9rem;
	font-size: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background-color: pink;
}

.logo h1{
	color: #DE2B41;
	letter-spacing: 15px;
	font-size: 50px;
    background: url(../img/020422.jpg);
}
.nav a{
    padding: 1px 0px;
	text-decoration: none;
	color: #333;
	font-size: 38px;
	margin-left: 5px;
   
    
}
.nav a:first-child{
    background-color: palegoldenrod;
}
/* 因为添加了br切行，所以需要3，5，7填写子名 */
.nav a:nth-child(3){
    background-color: royalblue;
}
.nav a:nth-child(5){
    background-color: palevioletred;
}
.nav a:nth-child(7){
    background-color: pink;
}
.nav a:nth-child(9){
    background-color: peru;
}
.nav a:last-child{
    background-color: palevioletred;
}
.banner{
	width: 100%;
	height: 50vh;
}
.banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#like{
	text-align: center;
	width: 1200px;
	margin: 30px auto;
}
#like span{
	background: #f2f2f2;
	padding: 5px 10px;
	border-radius: 3px;
	margin-right: 10px;
}
#like span:first-child{
	background: #DE2B41;
	color: #FFF;
}
#like span:nth-child(2){
	background: skyblue;
}
#like span:nth-child(3){
	background: yellow;
}
#like span:nth-child(4){
	background: orange;
}
#like span:nth-child(5){
	background: pink;
}
#like span:last-child{
	color: #FFF;
	background: seagreen;
}
.footer{
	text-align: center;
	color: #FFF;
	background: powderblue;
	padding: 100px 0;
    width: 116.75rem;
}
.footer p{
    text-align: center;
}