*{
	margin: 0;
	padding: 0;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	float: left;
	justify-content: space-between;
	/* width: 80%; */
    width: 90%;
	height: 50px;
	padding: 10px 10%;
	background: rgb(255, 255, 255, 0.3);
}

.logo h1{
	color: #DE2B41;
	letter-spacing: 5px;
	font-size: 30px;
    
}
.nav a{
	text-decoration: none;
	color: #333;
	font-size: 18px;
	margin-left: 5px;
    
}
.banner{
	width: 100%;
	height: 30vh;
}
.banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#like{
	text-align: center;
	width: 1200px;
	margin: 30px auto;
}
#like span{
	background: #f2f2f2;
	padding: 5px 10px;
	border-radius: 3px;
	margin-right: 10px;
}
#like span:first-child{
	background: #DE2B41;
	color: #FFF;
}
#like span:nth-child(2){
	background: skyblue;
}
#like span:nth-child(3){
	background: yellow;
}
#like span:nth-child(4){
	background: orange;
}
#like span:nth-child(5){
	background: pink;
}
#like span:last-child{
	color: #FFF;
	background: seagreen;
}
.footer{
	text-align: center;
	color: #FFF;
	background: pink;
	padding: 10px 0;
}