body {
	width: 100%;
	height: 100%;
	font-size: 45px "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background-color: pink;
	background: url(../img/bg02.jpg);
}
/* Large */

@media screen and (max-width: 1280px) {

	/* Multi-use */

		.check-list li {
			font-size: 1em;
			line-height: 2em;
		}

		.quote-list li {
			padding: 1em 0 1em 0;
		}

			.quote-list li img {
				width: 60px;
			}

			.quote-list li p {
				margin: 0 0 0 80px;
				font-size: 1em;
				font-style: italic;
				line-height: 1.8em;
			}

			.quote-list li span {
				display: block;
				margin-left: 80px;
				font-size: 0.8em;
				font-weight: 400;
				line-height: 1.8em;
			}

		.feature-image {
			margin: 0 0 1em 0;
		}

		.button-large {
			font-size: 1.5em;
		}

	/* Banner */

		#banner p {
			font-size: 1.75em;
		}

	/* Header */

		#header h1 {
			font-size: 2.25em;
		}

		#header nav a {
			font-size: 1.1em;
		}

	/* Content */

		#content h2 {
			font-size: 1.4em;
		}

		#content h3 {
			font-size: 1.1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

}

/* Medium */

#navPanel, #titleBar {
	display: none;
}

@media screen and (max-width: 980px) {

	/* Basic */

		html, body {
			overflow-x: hidden;
		}

	/* Header */

		#header {
			text-align: center;
		}

			#header > .container:first-child {
				display: none;
			}

	/* Content */

		#content {
			padding: 25px 0;
		}

	/* Nav */

		#page-wrapper {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			padding-bottom: 1px;
			padding-top: 44px;
		}

		#titleBar {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			display: block;
			height: 44px;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10001;
			color: #fff;
			background: url("images/bg04.jpg");
			box-shadow: inset 0px -20px 70px 0px rgba(200, 220, 245, 0.1), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.6);
			text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
		}

			#titleBar .title {
				display: block;
				text-align: center;
				font-size: 1.2em;
				font-weight: 400;
				line-height: 48px;
			}

			#titleBar .toggle {
				position: absolute;
				left: 0;
				top: 0;
				width: 80px;
				height: 60px;
			}

				#titleBar .toggle:after {
					content: '';
					display: block;
					position: absolute;
					top: 6px;
					left: 6px;
					color: #fff;
					background: rgba(255, 255, 255, 0.025);
					box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05), inset 0px -8px 10px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
					text-shadow: -1px -1px 1px black;
					width: 49px;
					height: 31px;
					border-radius: 8px;
				}

				#titleBar .toggle:before {
					content: '';
					position: absolute;
					width: 20px;
					height: 30px;
					background: url("images/mobileUI-site-nav-opener-bg.svg");
					top: 15px;
					left: 20px;
					z-index: 1;
					opacity: 0.25;
				}

				#titleBar .toggle:active:after {
					background: rgba(255, 255, 255, 0.05);
				}

		#navPanel {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transform: translateX(-275px);
			-webkit-transform: translateX(-275px);
			-ms-transform: translateX(-275px);
			transform: translateX(-275px);
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			display: block;
			height: 100%;
			left: 0;
			overflow-y: auto;
			position: fixed;
			top: 0;
			width: 275px;
			z-index: 10002;
			background: url("images/bg04.jpg");
			box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 25px 0px rgba(0, 0, 0, 0.5);
			text-shadow: -1px -1px 1px black;
		}

			#navPanel .link {
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 1.25em;
				line-height: 2em;
				padding: 0.625em 1.5em 0.325em 1.5em;
				border-top: solid 1px #373d40;
				border-bottom: solid 1px rgba(0, 0, 0, 0.4);
			}

				#navPanel .link:first-child {
					border-top: 0;
				}

				#navPanel .link:last-child {
					border-bottom: 0;
				}

		body.navPanel-visible #page-wrapper {
			-moz-transform: translateX(275px);
			-webkit-transform: translateX(275px);
			-ms-transform: translateX(275px);
			transform: translateX(275px);
		}

		body.navPanel-visible #titleBar {
			-moz-transform: translateX(275px);
			-webkit-transform: translateX(275px);
			-ms-transform: translateX(275px);
			transform: translateX(275px);
		}

		body.navPanel-visible #navPanel {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

}

/* Small */

@media screen and (max-width: 736px) {

	/* Basic */

		body, input, textarea, select {
			font-size: 13pt;
			line-height: 1.4em;
		}

	/* Multi-use */

		.link-list li {
			padding: 0.75em 0 0.75em 0;
		}

		.quote-list li p {
			margin-bottom: 0.5em;
		}

		.check-list li {
			font-size: 1em;
		}

		.button-large {
			width: 100%;
		}

	/* Banner */

		#banner p {
			font-size: 1.25em;
			font-weight: 200;
			line-height: 1.25em;
			margin: 0 0 1em 0;
		}

	/* Content */

		#content section {
			padding: 30px 20px;
		}

		#content h2 {
			font-size: 1.25em;
		}

		#content h3 {
			font-size: 1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

	/* Footer */

		#footer .link-list {
			margin: 0 0 10px 0 !important;
		}

	/* Copyright */

		#copyright {
			padding: 20px 30px;
		}

}