/* 去除所有标签的的内外边距 */
*{
	margin: 0;
	padding: 0;
}
body{
	/* 设置长度 */
	width: 100%;
	/* 设置高度 100vh为浏览器的视图高度 */
	height: 100vh;
	/* 设置背景颜色 */
	background: url(../img/net1.jpg) no-repeat;
	/* 背景图片自动裁剪 防止图片压缩 */
	background-size: cover;
}
.login{
	/* 设置长度 */
	width: 100%;
	/* 设置高度 100vh为浏览器的视图高度 */
	height: 100vh;
	/* 超出隐藏 */
	overflow: hidden;
	/* 设置背景增加美感 */
	background: rgba(0, 0, 0, 0.6);
	/* 设置flex布局 主要作用于他的子级 .login-box */
	display: flex;
	/* 横向居中显示 */
	justify-content: center;
	/* 纵向居中显示 */
	align-items: center;
}
/* 中间的盒子 */
.login-box{
	/* 设置flex布局 主要作用于他的两个子级 */
	display: flex;
	/* 横向两端对齐 */
	justify-content: space-between;
	/* 设置长度 */
	width: 90%;
	/* 设置高度 */
	height: 70%;
	/* 设置阴影更立体 */
	box-shadow: 2px 3px 10px #999;
	/* 设置圆弧更好看 */
	border-radius: 20px;
	/* 设置背景颜色 */
	background: #FFFFFF;
	/* 超出隐藏 */
	overflow: hidden;
}
/* 左侧图片 */
.login-box-main{
	/* 设置长度 */
	width: 40%;
	/* 设置高度 */
	height: 100%;
}
.login-box-main img{
	/* 设置成块级元素 防止图片周围有空白 */
	display: block;
	/* 设置长度 */
	width: 100%;
	/* 设置高度 */
	height: auto;
	/* 图片自动裁剪 防止变形 */
	object-fit: cover;
}
/* 左侧图片 */
.login-box-left{
	/* 设置长度 */
	width: 20%;
	/* 设置高度 */
	height: 100%;
    background-color:pink;
    text-align: center;
}
.login-box-left img{
	/* 设置成块级元素 防止图片周围有空白 */
	display: block;
	/* 设置长度 */
	width: 100%;
	/* 设置高度 */
	height: auto;
	/* 图片自动裁剪 防止变形 */
	object-fit: cover;
}
/* 左侧图片 */
.login-box-right{
	/* 设置长度 */
	width: 40%;
	/* 设置高度 */
	height: 100%;
}
.login-box-right img{
	/* 设置成块级元素 防止图片周围有空白 */
	display: block;
	/* 设置长度 */
	width: 100%;
	/* 设置高度 */
	height: auto;
	/* 图片自动裁剪 防止变形 */
	object-fit: cover;
}
	
